/*Agregar fondo de color*/


.main-container {
    /* border: 1px solid red; ---> ayuda visual */
    width: 375px;
    margin: auto;
}

.main-container__background-section{
    background-image: url("../src/img/fondo_oro_transparencia.jpg");
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}
.form_card{
    background-color: white;
    padding: 90px 24px 45px;
}
@media (min-width: 1440px){
    .main-container{
        width: 1440px;
        display: flex;
    }
    .main-container__background-section{
        width: 700px;
        height: 900px;
    }
}
.card {
    border: 1px solid white;
    border-radius: 15px;
    width: 248px;
    height: 120px;
    color: white;
    padding: 20px;
    background-image: url("../src/img/fondo_negro_card.png");
    background-size: contain;
    position: absolute;
    top: 126px;
    left: 18px;
    z-index: 1;
    letter-spacing: 2px;

}
@media (min-width: 1440px){
    .card{
        width: 420px;
        height: 220px;
        padding: 30px;
        top: 187px;
        left: 167px;
        z-index: 1;
    }
}
.card_back {
    border: 1px solid white;
    border-radius: 15px;
    width: 248px;
    height: 120px;
    color: white;
    padding: 20px;
    background-image: url("../src/img/fondo_negro_card_back.jpg");
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 75px;
    letter-spacing: 2px; /*le da espacios a los números de la tarjeta*/
}
.card_back_cvc{
    font-size: 0.8em;
    margin-top: 44px;
    text-align: right;
    padding-right: 55px;
}

@media (min-width: 1440px){
    .card_back{
        width: 420px;
        height: 220px;
        padding: 30px;
        top: 468px;
        left: 257px;
    }
    .card_back_cvc{
        font-size: 1.1em;
        margin-top: 80px;
        padding-right: 95px;
    }
}
.card_number{
    margin-bottom: 20px; /*distancia entre números, nombreapellido y fecha*/
    padding-top: 35px; /*margen superior de la tarjeta y los números*/

}
.card_details{
    display: flex;
    font-size: 0.6em; /*da el tamaño de la letra*/
    justify-content: space-between; /*da distancia entre nombreapellido y fecha*/
    text-transform: uppercase; /*transforma el texto a mayuscula*/
}
@media (min-width: 1440px){
    .card_number{
        font-size: 1.6em; /*da el tamaño de la letra/numeros*/
        margin-bottom: 35px; /*distancia entre números, nombreapellido y fecha*/
        padding-top: 70px; /*margen superior de la tarjeta y los números*/
    }
    .card_details{
        font-size: 0.8em ;
    }
    
    }


.formLabel {
    /* border: 1px solid red; --> aplica como ayuda visual */
    display: block; /*es para que label ocupe toda la linea*/
    margin-bottom: 8px;
}
.formInput {
    width: 100%; /*es para que el input */
    height: 20px;
    margin-bottom: 18px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace; /*fuente del texto*/
    border: 1px solid gray; 
    padding-left: 10px ;
    
}
.form_dateCvc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
}

.formLabel_monthYear{
    display: flex;
}

.formInput_monthYear{
    display: flex;
    gap: 0 10px; /*espacios entre casillas de MM y AA*/
}
#botonValidar {
    background-color: #efb810;
    cursor: pointer; /*agrega manito cuando se posiciona sobre el*/
    border-color: #efb810;
    border-radius: 10px; /*redondea las esquinas del botón*/   
    width: 100%;
    height: 30px;
    margin: 0 auto;
    letter-spacing: 1px;
}
#botonValidar:hover {
    background-color: white;
    border-color: #efb810;
}

@media (min-width:1440px){
    .form{
        width: 385px;
        margin-top: 180px;
        padding-left: 350px; 
    }
}
.alertas{
    padding-left: 270px;
    padding-top: 250px;
}

#cambioTarjetaValida{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;

}
.imagenValida{
    width: 200px;
}

#cambioTarjetaInvalida{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
.imagenInvalida{
    width: 200px;
}