/*Agregar fondo de color*/


.main-container {
    border: 1px solid red;
    width: 375px;
    margin: auto;
}

.main-container__background-section{
    background-image: url("../fondo_dorado.jpg");
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}
.form_card{
    background-color: white;
    padding: 90px 24px 45px;
}
@media (min-width: 1440px){
    .main-container{
        width: 1440px;
        display: flex;
    }
    .main-container__background-section{
        width: 700px;
        height: 900px;
    }
}
.card {
    border: 1px solid white;
    border-radius: 15px;
    width: 288px;
    height: 160px;
    color: white;
    padding: 20px;
    background-image: url("../fondo_negro_card.png");
    background-size: contain;
    position: absolute;
    top: 126px;
    left: 18px;
    z-index: 1;
    letter-spacing: 2px;

}
@media (min-width: 1440px){
    .card{
        width: 420px;
        height: 220px;
        padding: 30px;
        top: 187px;
        left: 167px;
        z-index: 1;
    }
}
.card_back {
    border: 1px solid white;
    border-radius: 15px;
    width: 288px;
    height: 160px;
    color: white;
    padding: 20px;
    background-image: url("../fondo_negro_card_back.jpg");
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 75px;
    letter-spacing: 2px;
}
.card_back_cvc{
    font-size: 0.8em;
    margin-top: 52px;
    text-align: right;
    padding-right: 55px;
}

@media (min-width: 1440px){
    .card_back{
        width: 420px;
        height: 220px;
        padding: 30px;
        top: 468px;
        left: 257px;
    }
    .card_back_cvc{
        font-size: 1.1em;
        margin-top: 80px;
        padding-right: 95px;
    }
}
.card_number{
    margin-bottom: 40px;
    padding-top: 65px;

}
.card_details{
    display: flex;
    font-size: 0.6em;
    justify-content: space-between;
    text-transform: uppercase;
}
@media (min-width: 1440px){
    .card_number{
        font-size: 1.6em;
        margin-bottom: 25px;
    }
    .card_details{
        font-size: 0.8em ;
    }
    
    }
    }